@font-face {
    font-family: 'playfair';
    src: url('fonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/playfairdisplay-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('fonts/raleway-light-webfont.woff2') format('woff2'),
         url('fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ibm';
    src: url('fonts/ibmplexmono-regular-webfont.woff2') format('woff2'),
         url('fonts/ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.jumbotron {
	background-color: transparent !important;
	background-image: url(images/pinkpurplepainting.jpg);
	background-size: cover;
	color: white;
	margin-top: 0 !important;
}

.jumbotron h1 { 
	font-family: 'montserrat', Helvetica, Arial, sans-serif;
	font-size: 6vw;
	font-weight: 900;
	text-align: center; 
	background-color: transparent;
	text-transform: uppercase;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar { 
	padding-top: 5px !important;
	margin-bottom:0 !important;
	background-color: white !important;
}

.nav-link , .navbar-brand, .dropdown:hover>.dropdown-menu{ 
	font-family: 'ibm', Helvetica, Arial, sans-serif;
	color: #ffffff; 
	cursor: pointer;
}

.nav-link{ 
	margin-right: 1em !important;
}

.navbar-collapse{ 
	justify-content: flex-end;
}

.navbar-toggler{  
	background:#fff;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

.container { 
	padding-top: 2vw;
	padding-bottom: 4vw;
}

.container h2 { 
	font-family: 'montserrat', Helvetica, Arial, sans-serif;
}

.container p, ul{
	font-family: Helvetica, Arial, sans-serif;
}

.list-bullets {
    list-style: none;
}

.list-bullets li {
    display: flex;
    align-items: center;
}

.list-bullets li::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #5784d7;
    border: 2px solid #8fb3f5;
    display: block;
    margin-right: 1rem;
}