@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Nanum+Gothic|Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind|Martel+Sans|Poppins&display=swap');

/* Reset Styles */
@import 'normalize.css';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Base Styles */
body {
  line-height: 1.8;
  text-align: center;
}

footer {
 padding: 30px;
 width: 100%;
 margin: 0;
}

img {
  width: 75%;
  padding: 10px;
  border-radius: 25px;
}

h1.jumbotron-heading {
  margin-bottom: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p.jumbotron-subheading {
  font-size: 16px;
  font-family: Hind;
  padding:0;
  margin-top: 5px;
  text-align: center;
}

p {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  opacity: 50%;
  margin-top: 2px;
  margin-bottom: 2px;
}

i {
  color:black;
}

h2 {
  font-family: Hind;
}

.bg-1 { 
  background-color: #7189bf; 
  color: #ffffff;
}
.bg-2 { 
  background-color: #df7599; 
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffc785; 
  color: #ffffff;
}
.bg-4 { 
  background-color: #72d6c9; 
  color: #ffffff;
}

.jumbotron {
  margin-bottom: 0;
  letter-spacing: 3px;
  width: 100%;
}

.jumbotron .jumbotron-heading {
  font-family: Poppins;
}

.container-fluid {
  padding-top: 10px;
  padding-bottom: 25px;
}

.navbar{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0;
  margin: 0;
  font-family: Poppins;
  border: 0;
  letter-spacing: 3px;
  width: 100%;
  color: #ffffff;
}

.navbar-toggle {
  background-color: white;
  margin: 10;
}

.navbar-toggle:hover {
  background-color: white;
}

.navbar-toggle::after {
  background-color: white;
}

.footer-content {
  display: block;
}

.footer-content a {
  display: inline-block;
}

.footer-content::after {
  display: inline-block;
  width: 100%;
}

@media screen and (min-width: 800px) {
  ul.nav li {
    display: inline;
  }
}

ul.nav a {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

ul.nav a:hover {
  background-color: #df7599;
  transition: all 0.3s ease 0s;
  color: rgb(233, 233, 233);
}

ul.nav a:active {
  background-color: #df7599;
}

.container-fluid > p {
  font-size: 14px;
}

.copyright {
  font-size: 12px;
}

.icon {
  font-size: 2em;
  padding: 5px;
}

@media (min-width: 48em) {
    .pull-right-sm {
        float: right;
    }
}

@media only screen and (max-width : 47.9375em) {
    .remove-gutter-xs {
        /* padding-left: 5px;
        padding-right: 5px; */
    }
}
