@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Playfair+Display&display=swap');

body {
  background-color: lightblue;
}

.jumbotron {
  /* background-color: white; */
  margin-bottom: 0px;
}

.jumbotron .display-4 {
  font-family: "Playfair Display";
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .lead {
  font-family: "Nanum Gothic";
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-top: 0px;
}
/*
.container-fluid {
  background-color: white;
} */
