@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Nanum+Gothic|Playfair+Display&display=swap');

/* Reset Styles */
@import 'normalize.css';

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Base Styles */
body {
  background-color: white;
}

h2 {
  font-family: "Playfair Display";
}

.jumbotron {
  background-image: url(corn.jpg);
  background-size: cover;
  margin-bottom: 0px;
  /* color: white; */
}

.jumbotron .display-4 {
  font-family: "Playfair Display";
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .lead {
  font-family: "Nanum Gothic";
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  margin-top: 0px;
  font-family: "Nanum Gothic";
}

/* .navbar .active {
  background-color: lightblue;
} */
/*
.container-fluid {
  background-color: white;
} */

footer {
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 10px;
}

/* Layout Styles */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 48em) {
    [class*='col-'] {
        float: left;
    }

    .col-1-6 {
        width: 16.66%;
        min-height: 1px;
    }

    .col-1-4 {
        width: 25%;
        min-height: 1px;
    }

    .col-1-3 {
        width: 33.3333%;
        min-height: 1px;
    }

    .col-2-3 {
        width: 66.6666%;
        min-height: 1px;
    }

    .col-3-4 {
      width: 75%;
      min-height: 1px;
    }
}

@media (min-width: 48em) {
    .pull-right-sm {
        float: right;
    }
}

@media only screen and (max-width : 47.9375em) {
    .remove-gutter-xs {
        padding-left: 0px;
        padding-right: 0px;
    }
}
